<!doctype html>
<html lang="{{ $.Site.Language }}">
  <head>
    {{ block "title" . }}
    <title>
      {{ if .IsHome }}{{ $.Site.Params.title }}{{ with $.Site.Params.subtitle }}
      — {{ . }}{{ end }}{{ else }}{{ .Title }} - {{ $.Site.Params.title }}{{ end
      }}
    </title>
    {{ end }} {{ partial "head.html" . }}
  </head>
  <body class="has-background-grey-dark has-text-grey-light line-numbers">
    {{ partial "header.html" . }}

    <div class="container is-max-desktop site-content">
      <div class="content">{{ block "main" . }} {{ end }}</div>
    </div>

    {{ block "footer" . }} {{ partial "footer.html" . }} {{ end }} {{ if
    isset site.Params "googleanayltics" }} {{ template "_internal/google_analytics.html" . }}
    {{ end }}

    {{ if $.Site.Params.analytics.umami.id }}
    <!-- Umami Analytics -->
<script type="text/javascript">
  (() => {
    const name = 'outbound-link-click';
    document.querySelectorAll('a').forEach(a => {
      if (a.host !== window.location.host && !a.getAttribute('data-umami-event')) {
        a.setAttribute('data-umami-event', name);
        a.setAttribute('data-umami-event-url', a.href);
      }
    });
  })();
</script>
    {{ end }}
  </body>
</html>
