{{ define "main" }}
<div class="home__body">
    {{ with .GetPage "/about" }}
    <section id="about" class="section">
        <h1 class="title is-size-1">{{ .Title }}</h1>
        {{ if .Params.Image }}
            {{ partial "postcover.html" . }}
        {{ end }}

        <div class="m-5">
            {{ .Content }}
        </div>
    </section>
    {{ end}}
    <section id="social" class="section">
        <h1 class="title is-size-1 has-text-right">Where to find me</h1>
        <div class="columns is-desktop mt-6">
            {{ range .Site.Params.socials }}
            <div class="has-text-centered column">
                <a class="social has-text-orange" href="{{ .url }}" aria-label="{{ .name }}" title="{{ .name }}" target="_blank">
                <i class="social__icon {{ .icon }}"></i>
                <span class="social__name title has-text-orange">{{ .name }}</span>
                <span class="social__title subtitle has-text-orange">{{ .title }}</span>
                </a>
            </div>
            {{ end }}
        </div>
    </section>
</div>
{{ end }}
