{{ define "main" }}

{{ $isntDefault := not (or (eq (trim $.Site.Params.contentTypeName " ") "posts") (eq (trim $.Site.Params.contentTypeName " ") "")) }}
  {{ $contentTypeName := cond $isntDefault (string $.Site.Params.contentTypeName) "posts" }}

  {{ $PageContext := . }}
  {{ $paginator := .Paginate (where $PageContext.RegularPages "Type" $contentTypeName) }}

  {{ if .Content }}
    <div class="index-content {{ if .Params.framed -}}framed{{- end -}}">
      {{ .Content }}
    </div>
  {{ end }}

  <div class="posts">
    {{ range $paginator.Pages }}
    <article class="post on-list">
      <h1 class="title is-size-1"><a href="{{ .Permalink }}">{{ .Title | markdownify }}</a></h1>
      <div class="is-size-6 mb-2">
        {{ if .Date }}
          <time class="">
            {{ .Date.Format ($.Site.Params.DateFormatList | default "2006-01-02") }}
          </time>

          {{ if $.Site.Params.LastModDisplay }}
            {{ partial "lastmod.html" . }}
          {{ end }}
        {{ end }}

        {{ with .Params.Author }}
          <span class="post-author">— {{ $.Site.Params.WrittenBy | default "Written by" }} {{ . }}</span>
        {{ end }}

        {{ if $.Site.Params.ShowReadingTime }}
          <span class="post-read-time">— {{ .ReadingTime }} {{ $.Site.Params.MinuteReadingTime | default "minutes read" }}</span>
        {{ end }}
      </div>

      {{ if .Params.tags }}
        <span class="is-size-6">
          {{ range .Params.tags }}
            <a href="{{ (urlize (printf "tags/%s" . )) | absLangURL }}/">#{{ . }}</a>&nbsp;
          {{ end }}
        </span>
      {{ end }}

      {{ if .Params.Cover }}
        {{ partial "postcover.html" . }}
      {{ end }}

      <div class="post-content my-5">
        <p>
        {{ with .Description }}
          {{ . | markdownify }}
        {{ else }}
          {{ if .Truncated }}
            {{ .Summary }}
          {{ end }}
        {{ end }}
      </p>
      </div>
      {{ if not .Params.hideReadMore }}
        <div class="mb-5"><a class="read-more button is-dark" href="{{.RelPermalink}}">
          <span class="button__text">{{ $.Site.Params.ReadMore | default "Read more" }}</span>
          <span class="button__icon">→</span>
        </a></div>
      {{ end }}
    </article>
    {{ end }}
    
  </div>
  {{ partial "pagination.html" . }}
{{ end }}
