{{ define "main" }}
  {{ $isntDefault := not (or (eq (trim $.Site.Params.contentTypeName " ") "posts") (eq (trim $.Site.Params.contentTypeName " ") "")) }}
  {{ $contentTypeName := cond $isntDefault (string $.Site.Params.contentTypeName) "posts" }}
<div class="posts">
  <article class="post mt-6">
    <h1 class="is-size-1">{{ .Title | markdownify }}</h1>
    <div class="is-size-5">
      {{ if .Date | default nil }}
        <time>
          {{ .Date.Format ($.Site.Params.DateFormatSingle | default "2006-01-02") }}
        </time>

        {{ if eq .Type $contentTypeName }}
          {{ if $.Site.Params.LastModDisplay }}
            {{ partial "lastmod.html" . }}
          {{ end }}
        {{ end }}
      {{ end }}

      {{ with .Params.Author }}
        <span>— {{ $.Site.Params.WrittenBy | default "Written by" }} {{ . }}</span>
      {{ end }}

      {{ if $.Site.Params.ShowReadingTime }}
        <span>— {{ .ReadingTime }} {{ $.Site.Params.MinuteReadingTime | default "min read" }}</span>
      {{ end }}
    </div>

    {{ if .Params.tags }}
      <span class="is-size-6">
        {{ range .Params.tags }}
          <a href="{{ (urlize (printf "tags/%s" . )) | absLangURL }}/">#{{ . }}</a>&nbsp;
        {{ end }}
      </span>
    {{ end }}

    {{ if .Params.Image }}
      {{ partial "postcover.html" . }}
    {{ end }}

    {{ if .Params.YoutubeId }}
      {{ partial "videocover.html" . }}
    {{ end }}
    
    <div class="mt-5">
      {{ if or .Params.Toc $.Site.Params.Toc }}
        {{ if ne .Params.Toc false }}
        <h2>Table of Contents</h2>
        <aside class="table-of-contents">{{ .TableOfContents }}</aside>
        {{ end }}
      {{ end }}
      {{ .Content }}
    </div>

    <div class="mt-6">
      {{ if .Site.Params.shareLinks }}
      <div class="share-links">
        {{ partial "share.html" (dict "social" .Site.Params.share "title" .Title "permalink" .Permalink) }}
      </div>
      {{ end }}
      <div>
        <span class="is-size-5">Written by <a href="{{ .Site.Params.Contact }}">{{ .Site.Params.Author }}</a></span>
      </div>
      <span class="is-size-6">Last Modified on {{ .Lastmod.Format "2006 January 2 at 15:04:05 MST" }} | {{ if .Site.Params.github.contentRepo }}<a href="https://github.com/{{ .Site.Params.github.user }}/{{ .Site.Params.github.contentRepo }}/commits/master/{{ .File.Path }}" aria-label="See the git changelog for this post">see changelog</a>{{ end }}</span>
    </div>
  </article>
</div>

{{ if eq .Type $.Site.Params.contentTypeName }}
{{ if or .NextInSection .PrevInSection }}
<div class="pagination">
  <div class="pagination__header">
    <span class="pagination__title">{{ $.Site.Params.ReadOtherPosts | default "Read other posts" }}</span>
  </div>
  <div class="pagination__navigation">
    <div class="pagination__buttons">
      {{ if .NextInSection }}
      <a class="button is-dark previous" href="{{ .NextInSection.Permalink }}">
        <span class="button__icon">←</span>
        <span class="button__text">{{ .NextInSection.Title }}</span>
      </a>
      {{ end }}
      {{ if .PrevInSection }}
      <a class="button is-dark next" href="{{ .PrevInSection.Permalink }}">
        <span class="button__text">{{ .PrevInSection.Title }}</span>
        <span class="button__icon">→</span>
      </a>
      {{ end }}
    </div>
  </div>
</div>
{{ end }}
{{ end }}

{{ if not (eq .Params.Comments "false") }}
{{ if or (eq .Type $.Site.Params.contentTypeName) (.Params.Comments) }}
  {{ partial "comments.html" . }}
{{ end }}
{{ end }}

{{ end }}