// Needed for the menu to no think it's mobile
:root {
  --phoneWidth: (max-width: 684px);
  --tabletWidth: (max-width: 900px);
}

.has-text-orange {
  color: $orange !important;
  & a {
    color: $orange !important;
  }
}