@use "../bulma/sass/utilities/initial-variables.scss" as iv;

.content {
  & blockquote {
    background-color: iv.$grey-darker;
    color: iv.$white;
    border: initial;

    & strong {
      color: iv.$white;
    }
  }

  & img {
    margin: 0 auto;
  }

  & figure {
    margin-left: 1em;
    margin-right: 1em;
  }
}

