@use "./initial-variables.scss" as custom;
@use "../bulma/sass/utilities/initial-variables" as iv;

.header {
  background: bulmaFindDarkColor(iv.$turquoise);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 20px;

  &__left {
    display: flex;
    flex-direction: column;
    align-items: left;
  }

  &__right {
    display: flex;
    flex-direction: row;
    align-items: center;

    @media (custom.$phone) {
      flex-direction: row-reverse;
    }
  }

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    width: 760px;
    max-width: 100%;
  }

  a {
    color: inherit;
  }
}

.theme-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  cursor: pointer;
}

.theme-toggler {
  fill: currentColor;
}

.h-anchor {
  margin-left: 1px;
  color: iv.$white;
  text-decoration: none;
  visibility: hidden;
  opacity: 0;
  transition:
    visibility 0s linear 0.1s,
    opacity 0.1s linear;
}
