$phone: "max-width: 684px";
$tablet: "max-width: 900px";
$orange: hsl(22, 100%, 50%) !default;
$dark: #363636;
$family-sans-serif:
  "Cantarell",
  BlinkMacSystemFont,
  -apple-system,
  "Segoe UI",
  "Roboto",
  "Oxygen",
  "Ubuntu",
  "Fira Sans",
  "Droid Sans",
  "Helvetica Neue",
  "Helvetica",
  "Arial",
  sans-serif !default;
