@use "../bulma/sass/utilities/initial-variables.scss" as iv;

.pagination {
  display: inherit;
  margin-top: 80px;

  &__header {
    border-bottom: 1px solid iv.$dark;
    padding: 1em 0;
    margin: 1.5em 1em;
  }

  &__title {
    display: flex;
    justify-content: center;
    font-weight: 600;
  }

  &__navigation {
    justify-content: center;
  }

  &__buttons {
    display: flex;
    justify-content: center;
  }

  .button {
    @media (max-width: 767px) {
      width: 160px;
    }

    &__text {
      @media (max-width: 767px) {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }
    }

    @media (max-width: 1024px) {
      padding: 30px !important;
    }

    + .button {
      margin-left: 10px;
    }

    &.next .button__icon {
      margin-left: 8px;
    }

    &.previous .button__icon {
      margin-right: 8px;
    }
  }
  span {
    font-weight: 600;
  }
}

.read-more {
  .button__icon {
    margin-left: 8px;
  }
}

