@use "../bulma/sass/utilities/initial-variables.scss" as iv;
@use "./initial-variables.scss" as custom;

$prism-background-color: #212020;

code[class*="language-"],
pre[class*="language-"] {
  background: none;
  font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  // reset bulma
  line-height: initial;
  font-size: inherit;

  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

/* Code blocks */
pre[class*="language-"] {
  overflow: auto;
  border-radius: 0;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: $prism-background-color !important;
  color: inherit !important;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
  padding: 0.1em;
  border-radius: 0.3em;
  white-space: normal;
}

.token {
  &.comment,
  &.block-comment,
  &.prolog,
  &.doctype,
  &.cdata {
    color: rgba(255, 255, 255, 0.4);
  }

  &.punctuation {
    color: #a9a9b3;
  }

  &.tag,
  &.attr-name,
  &.namespace,
  &.deleted {
    color: #e2777a;
  }

  &.function-name {
    color: #6196cc;
  }

  &.boolean,
  &.number,
  &.function {
    color: #f08d49;
    // Reset from bulma
    align-items: initial;
    background-color: initial;
    border-radius: initial;
    display: initial;
    font-size: inherit;
    margin: initial;
    min-width: initial;
    padding: initial;
    vertical-align: initial;
  }

  &.property,
  &.class-name,
  &.constant,
  &.symbol {
    color: #f8c555;
  }

  &.selector,
  &.important,
  &.atrule,
  &.keyword,
  &.builtin {
    color: #cc99cd;
  }

  &.string,
  &.char,
  &.attr-value,
  &.regex,
  &.variable {
    color: #7ec699;
  }

  &.operator,
  &.entity,
  &.url {
    color: #67cdcc;
  }

  &.important,
  &.bold {
    font-weight: bold;
  }

  &.italic {
    font-style: italic;
  }

  &.entity {
    cursor: help;
  }

  &.inserted {
    color: green;
  }
}

pre[class*="language-"].line-numbers {
  position: relative;
  padding-left: 5em;
  counter-reset: linenumber;
}

pre[class*="language-"].line-numbers > code {
  position: relative;
  white-space: inherit;
}

.line-numbers {
  & .line-numbers-rows {
    position: absolute;
    pointer-events: none;
    top: 0;
    font-size: 100%;
    left: -3.8em;
    width: 3em; /* works for line-numbers below 1000 lines */
    letter-spacing: -1px;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    & > span {
      pointer-events: none;
      display: block;
      counter-increment: linenumber;
    }

    & > span:before {
      content: counter(linenumber);
      color: #999;
      display: block;
      padding-right: 0.8em;
      text-align: right;
    }
  }
}

div.code-toolbar {
  position: relative;
  // reset
  margin: initial;
  padding: initial;
  line-height: initial;
  font-size: initial;
  display: flex;
  flex-direction: column-reverse;

  & pre {
    margin: 0;
    padding: 0;
  }

  & > .toolbar {
    font-weight: 600;
    background-color: custom.$dark;
    padding: 1em 0.8em;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    position: relative;
    margin-bottom: 0.8em;

    // language
    & .toolbar-item:first-child {
      display: flex;
      justify-content: center;
      font-size: 0.9em;

      // font awesome icon
      span:before {
        font-family: "Font Awesome 5 Free";
        font-size: 0.9em;
        content: "\f121";
        display: inline-block;
        padding-right: 0.4em;
      }
    }

    // copy button
    & .toolbar-item:last-child {
      position: absolute;
      right: 0.8em;
      top: 0.2em;
    }

    & button {
      background: none;
      border: 0;
      color: inherit;
      font-weight: inherit;
      line-height: normal;
      overflow: visible;
      padding: 0.8em;
      -webkit-user-select: none; /* for button */
      -moz-user-select: none;
      -ms-user-select: none;
    }

    & a,
    & button,
    & .toolbar-item:last-child span {
      color: #bbb;
      font-size: 0.9rem;
      cursor: pointer;
    }

    & a:hover,
    & a:focus,
    & button:hover,
    & button:focus,
    & span:hover,
    & span:focus {
      color: inherit;
      text-decoration: none;
    }
  }
}

.command-line-prompt {
  border-right: 1px solid #999;
  display: block;
  float: left;
  font-size: 100%;
  letter-spacing: -1px;
  margin-right: 1em;
  pointer-events: none;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  & > span:before {
    color: #999;
    content: " ";
    display: block;
    padding-right: 0.8em;
  }

  & > span[data-user]:before {
    content: "[" attr(data-user) "@" attr(data-host) "] $";
  }

  & > span[data-user="root"]:before {
    content: "[" attr(data-user) "@" attr(data-host) "] #";
  }

  & > span[data-prompt]:before {
    content: attr(data-prompt);
  }
}

.highlight {
  margin: 1em 0;
  background-color: $prism-background-color;
  border-radius: 8px;
}

