@use "../bulma/sass/utilities/initial-variables.scss" as iv;
@use "../bulma/sass/utilities/derived-variables.scss" as dv;

.prompt {
  color: iv.$grey-darker !important;
  font-style: italic;

  &-info {
    background-color: dv.$info !important;
  }

  &-warn {
    background-color: dv.$warning !important;

    & .prompt-icon {
      color: iv.$grey-darker;
    }
  }

  &-danger {
    background-color: dv.$danger !important;

    & .prompt-icon {
      color: iv.$grey-darker;
    }
  }

  &-icon {
    margin-right: 0.4em;
    color: iv.$white;
  }
}
