.social {

    &__icon {
        font-size: 4rem;

        @media($phone) {
            font-size: 3rem;
        }
    }

    &__name,
    &__title,
    &__icon {
        display: block !important;
        
    }

    &__name,
    &__title {
        @media($phone) {
            font-size: 1.2rem;
        }
    }
}

.share {
    &__social-buttons {
        font-size: 1em;

        & span:not(:first-child) {
            margin-left: .5em;;

            @media ($tablet) {
                margin-left: 1em;
            }

        }
    }

    &__social-icons {
        font-size: 1.3em;

        @media ($tablet) {
            font-size: 1.5em;
        }
    }
}

#copy_permalink {
    cursor: pointer;
    color: $orange;

    &:hover {
        color: $dark;
    }
}