@use "./initial-variables.scss" as custom;
@use "../bulma/sass/utilities/initial-variables.scss" as iv;

.terms,
.archive {
  padding: 0 1rem;
  margin-top: 6rem;

  @media (custom.$tablet) {
    max-width: 660px;
    margin: 6rem auto;
  }

  a {
    color: inherit;
  }

  &__group {
    &-subterm,
    &-month {
      display: flex;
      align-items: flex-start;
      padding: 1rem 0;

      @media (custom.$phone) {
        flex-direction: column;
      }

      &:not(:last-of-type) {
        border-bottom: 1px solid iv.$grey-darker;
      }

      &-header {
        margin: 1.5rem 0;
        width: 200px;
        opacity: 0.7;

        @media (custom.$phone) {
          margin: 10px 0 0;
        }
      }
    }

    &-term,
    &-year {
      margin-top: 40px;

      @media ($phone) {
        margin-top: 20px;
      }

      &:not(:last-of-type) {
        border-bottom: 1px solid $dark;
      }
    }

    &-posts {
      width: 100%;
    }
  }

  &__post {
    padding: 20px 0;
  }
}

