// Colors
$white: hsl(0, 0%, 100%) !default;
$dark: hsl(0, 0%, 21%) !default;
$primary-dark: hsl(0, 0%, 21%) !default;
$grey: hsl(0, 0%, 48%) !default;
$black-ter: hsl(0, 0%, 14%) !default;
$info: hsl(207, 61%,  53%) !default;
$warning: hsl(44,  100%, 77%) !default;
$danger: hsl(348, 86%, 61%) !default;
$orange: hsl(22, 100%, 50%) !default;



$phone: "max-width: 684px";
$tablet: "max-width: 900px";
//$box-shadow
//$box-radius
//$box-padding
//$shadow